@model BDDEmpresa.Models.Cargos

@{
    ViewBag.Title = "Modificar";
}

<h2>Modificar</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(o => o.Id)
    
    
    @Html.LabelFor((o => o.NombreCargo))
    @Html.EditorFor((o => o.NombreCargo))
    <br />

    <input type="submit" value="Enviar datos" />


}